body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: block; }

.clearfix:after {
  clear: both; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0; }

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts//Ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts//Ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts//Ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts//Ubuntu/../fonts//Ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts//Ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts//Ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts//Ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts//Ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

.wrapper {
  position: relative;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0 auto; }

.content {
  height: 100%;
  min-height: 650px;
  background-color: gray; }

.container {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-preferred-size: 1;
  flex-basis: 1; }

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  min-width: 940px;
  min-height: 650px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative; }

.btn_order__link {
  display: inline-block;
  min-width: 6.0625rem;
  padding: 0.625rem 1.0625rem;
  border-radius: 5px;
  background-color: #e45028;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  color: white;
  text-transform: uppercase;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .btn_order__link:hover {
    background-color: #ce401a; }

.title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 4.5rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 3.5rem; }

.title--white {
  color: #fff; }

.best {
  background-image: url("../img/bg/bg_best.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.title--black {
  color: #2f3234;
  line-height: 1.42;
  padding-bottom: 50px; }

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.best__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

/*.best__text {
    text-align: center;
}*/
.best__text-top {
  display: block;
  font-family: "Lifehack";
  font-weight: 500;
  font-size: 2.625rem;
  line-height: 1.75rem;
  color: #2f3234;
  margin-bottom: 30px; }

.best__text-bottom {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #2f3234; }

.first-screen {
  background-image: url("../img/bg/bg_first-screen.jpg"); }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px; }

.header__logo {
  margin-right: auto; }

.nav {
  margin-right: 0.9375rem; }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item::after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 12px; }
  .nav__item:last-child::after {
    display: none; }

.nav__link {
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle; }
  .nav__link:hover {
    text-decoration: underline; }

.first-screen__container {
  height: 100%; }

.first-screen__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 15%; }

.first-screen__img, .first-screen__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.first-screen__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white; }

.title--first-screen {
  color: #f9b43b;
  line-height: 1.42;
  padding-top: 60px; }

.first-screen__description-text {
  color: #fff;
  font-family: 'Lifehack';
  font-size: 4.0625rem;
  line-height: 3.75rem;
  font-weight: 500;
  margin: 0; }

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  position: relative;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  min-height: 50vh;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .reviews__item:hover .reviews__text {
    opacity: 1;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.reviews__text {
  width: 100%;
  height: 100%;
  padding: 50px 20px 0 20px;
  opacity: 0;
  background: rgba(47, 50, 52, 0.7);
  color: #fff; }

.reviews__name {
  display: block;
  font-family: "Gagalin";
  font-size: 0.875rem;
  line-height: 1.75rem; }

.reviews__comment {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.5rem; }

.btn_reviews {
  border-radius: 5px;
  background-color: #2f3234;
  width: 110px;
  height: 35px;
  border: none;
  text-decoration: none;
  font-size: 13px;
  line-height: 30px;
  text-transform: uppercase; }

.team {
  background-image: url("../img/bg/bg_team.jpg"); }

.team__wrapper {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  background-color: #2f3234;
  opacity: 0.929;
  padding: 5% 0 0 5%; }

.team-accordeon__item {
  margin-bottom: 37px; }

.team-accordeon__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  z-index: 10; }

.team-accordeon__details {
  height: 0;
  overflow: hidden; }

.team-accordeon__link {
  text-decoration: none;
  color: #fff;
  font-family: "Gagalin";
  font-weight: 400;
  font-size: 0.875rem; }
  .team-accordeon__link::before {
    display: inline-block;
    vertical-align: baseline;
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #f9b43b;
    z-index: 200;
    margin-right: 10px; }

.team-accordeon__photo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: url("/img/content/team/team_photo.jpg") center center no-repeat;
  background-size: cover;
  margin: 0 20px 0 18px; }

.team-accordeon__textblock {
  width: 15rem; }

.team-accordeon__post {
  font-weight: bold;
  font-size: 0.875rem;
  color: #fff; }

.team-accordeon__about {
  font-weight: 300;
  font-size: 0.875rem;
  color: #fff; }

.team-accordeon__item--is-active .team-accordeon__link {
  color: #f9b43b; }

.team-accordeon__item--is-active .team-accordeon__details {
  height: 100px;
  overflow: auto; }

.team-accordeon__item--is-active .team-accordeon__link::before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.menu {
  background-image: url("../img/bg/bg_menu.jpg"); }

.menu-accordeon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.title--menu {
  position: absolute;
  top: 115px;
  left: 95px; }

.menu-accordeon__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%; }

.menu-accordeon__item--is-active .menu-accordeon__trigger-text {
  color: #f9b43b; }

.menu-accordeon__item--is-active .menu-accordeon__content {
  width: 34.375rem;
  padding: 60px 30px 0 30px; }

.menu-accordeon__trigger--meat {
  background: url("../img/content/menu/meat.jpg") center center/cover no-repeat; }

.menu-accordeon__trigger--vegan {
  background: url("../img/content/menu/vegan.jpg") center center/cover no-repeat; }

.menu-accordeon__trigger--diet {
  background: url("../img/content/menu/diet.jpg") center center/cover no-repeat; }

.menu-accordeon__trigger {
  position: relative;
  height: 100%;
  width: 80px;
  text-decoration: none;
  margin: 0; }

.menu-accordeon__trigger-text {
  position: absolute;
  width: 650px;
  height: 80px;
  text-align: left;
  line-height: 5rem;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: translate(0, 100%) rotate(-90deg);
  -ms-transform: translate(0, 100%) rotate(-90deg);
  transform: translate(0, 100%) rotate(-90deg);
  font-size: 2.5rem;
  color: #fff;
  padding-left: 40px;
  bottom: 0;
  left: 0; }

.menu-accordeon__content {
  position: relative;
  width: 0;
  overflow: hidden;
  background: rgba(47, 50, 52, 0.93); }

.menu-accordeon__text {
  font-weight: 300;
  font-size: 0.875rem;
  color: #fff; }

.map {
  background-image: url("../img/content/map/map.jpg"); }

.form-section {
  background-image: url("../img/bg/bg_form_section.jpg"); }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  font-style: 0.875rem;
  font-weight: 300;
  color: #fff; }

.form__col {
  width: 28.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.form__row_1 .form__input {
  width: 50%; }
  .form__row_1 .form__input input {
    width: 100%; }

.form__row_2 .form__input {
  width: 100%; }
  .form__row_2 .form__input input {
    width: 100%; }

.form__row_3 .form__input {
  width: 25%; }
  .form__row_3 .form__input input {
    width: 100%; }

.form__input {
  margin-right: 1.25rem;
  padding-bottom: 1.125rem; }
  .form__input input {
    border: 1px solid #d1cfcb;
    border-radius: 5px;
    height: 2.1875rem; }
  .form__input:last-child {
    margin-right: 0; }

.form__textarea {
  width: 100%;
  margin-bottom: 18px; }
  .form__textarea textarea {
    width: 100%;
    border: 1px solid #d1cfcb;
    border-radius: 5px;
    height: 6.75rem; }

.form__radio {
  position: relative;
  margin-right: 20px;
  margin-bottom: 18px; }
  .form__radio label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .form__radio input {
    position: absolute;
    top: 0;
    left: -10000px; }
    .form__radio input:checked + .form__radio-fake::after {
      width: 7px;
      height: 7px; }

.form__radio-fake {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  background-color: #fff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 0.5rem; }

.form__radio-fake::after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
  background-color: #e45028;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  height: 0;
  width: 0; }

.form__checkbox-fake {
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
  background-color: #fff; }

.form__checkbox {
  position: relative;
  margin-bottom: 18px; }
  .form__checkbox label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .form__checkbox input {
    position: absolute;
    top: 0;
    left: -10000px; }
    .form__checkbox input:checked + .form__checkbox-fake {
      background: url("../img/common/checkbox.png") center center/contain no-repeat;
      background-color: #fff; }

.btn_order--margin-right {
  margin-right: 20px; }

.btn_clear a {
  text-decoration: none;
  color: #fff; }

.vertical-nav {
  position: fixed;
  top: 100px;
  right: 55px; }

.vertical-nav__item {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
  margin-bottom: 15px; }

.vertical-nav__item--is-active::after {
  content: "";
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #fff;
  -webkit-transition: border 0.2s;
  -o-transition: border 0.2s;
  transition: border 0.2s;
  -webkit-transform: translate(-5px, -5px);
  -ms-transform: translate(-5px, -5px);
  transform: translate(-5px, -5px);
  position: absolute; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  position: absolute;
  min-height: 60px;
  width: 100%;
  -webkit-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  transform: translateY(-60px); }

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap; }

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%; }

.footer__col-left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 0.875rem;
  line-height: 1.5rem; }

.footer__col-right {
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.adress {
  font-weight: 300;
  color: white; }

.contacts {
  color: #e45028;
  font-weight: 700; }
  .contacts::before {
    display: inline-block;
    content: "";
    width: 15px;
    height: 15px;
    background-image: url("../img/footer/icons/phone.svg");
    background-repeat: no-repeat;
    vertical-align: middle; }

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.social__item {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.social__link {
  width: 25px;
  height: 25px;
  overflow: hidden;
  color: transparent;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.3; }
  .social__link:hover {
    opacity: 1; }

.social__link-vk {
  background-image: url("../img/footer/icons/socials/vk.svg"); }

.social__link-fb {
  background-image: url("../img/footer/icons/socials/fb.svg"); }

.social__link-inst {
  background-image: url("../img/footer/icons/socials/inst.svg"); }

.social__link-tw {
  background-image: url("../img/footer/icons/socials/tw.svg"); }
